
{% extends 'base.html' %}

{% block body %}

    <table class="table table-striped mt-3">
        <thead>
        <tr>
            <th>Melon Name</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
        {% for index in range(names|length) %}
            <tr>
                <td>{{ names[index] }}</td>
                <td>{{ qtys[index] }}</td>
                <td>{{ "$%.2f"|format(prices[index]) }}</td>
                <td>{{ "$%.2f"|format(total_prices[index]) }}</td>

            </tr>
        {% endfor %}

        </tbody>
    </table>

    <h3>Total: {{ "$%.2f"|format(total_price) }}</h3>

    <a href="/checkout" class="btn btn-large btn-primary">Check Out</a>

{% endblock %}
